#btn{
    margin-top: 30px;
    border-radius: 40px;
    color: black;
    padding: 10px;
    
}
#a2{
margin-top: 30px;
color: deepskyblue;
font-style: normal;
text-decoration: underline;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.a1{
    border-radius: 30px;
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
    body {
      color: black
    }
  }
  
