#btn{
    margin-top: 30px;
    border-radius: 40px;
    color: black;
    padding: 10px;
    
}
#a2{
margin-top: 30px;
color: azure;
font-style: italic;
font-family: cursive;
}

.a1{
    border-radius: 30px;
}